/* @font-face {
  font-family: "linux libertine";
  src: url(../assets/linuxlibertinemono.ttf) format("truetype");
} */

:root {
  /* --bg-color: #000; */
  --bg-color: #0e0e0e;
  --color: whitesmoke;
  --font-size: 16px;
  --top: 999;
}

body {
  background-color: var(--bg-color);
  color: var(--color);
  margin: 0;
  /* font-family: "linux libertine"; */
  /* overflow-y: hidden;
  overflow-x: hidden; */
}

nav {
  display: flex;
  justify-content: space-between;
  height: 3em;
}

nav > div {
  display: flex;
}

nav button {
  padding: 0 1em;
  height: 100%;
}

button {
  cursor: pointer;
  border: .25em solid var(--color);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: var(--bg-color);
  color: var(--color);
}

button:hover {
  background-color: #555;
}

pre {
  /* font-family: "linux libertine", monospace; */
  line-height: 1em;
  margin: 0;
  font-size: var(--font-size);
  /* user-select: none; */
}

input[type=number] {
  border: none;
  border-bottom: 0.125em solid var(--color);
  background-color: var(--bg-color);
  color: var(--color);
  text-align: right;
  padding: 0.125em;
  font-size: var(--font-size);
  font-family: monospace;
}

/* remove buttons from number inputs */
/* from https://www.w3schools.com/howto/howto_css_hide_arrow_number.asp */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
  appearance: textfield;
}

#day {
  align-items: start;
  min-width: 10em;
}

#logs > .box-content {
  height: 25em;
  width: 20em;
}

#logs pre {
  white-space: pre-wrap;
}

#finance > .box-content {
  width: 20em;
}

#bg {
  width: 100vw;
  height: calc(100vh - 3em);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.display-none {
  display: none;
}

.box {
  position: fixed;
  min-width: 7.5em;
  border: .25em solid var(--color);
}

.box > * {
  padding: .5em;
  margin: 0;
  background-color: var(--bg-color);
}

.box-title {
  cursor: move;
  border-bottom: .125em solid var(--color);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.box-title.center {
  justify-content: center;
}

.box-content {
  border-top: none;
  overflow-y: scroll;
}

.alert-text {
  margin: .5em 1em 1em 1em;
}

.button-row {
  display: flex;
  justify-content: center;
  height: 3em;
  margin: 1em;
}

.button-row > button {
  margin: 0 1em;
  padding: 0 1em;
}

.set-button {
  width: 6em;
}

.num-input {
  width: 6em;
}

/* .money {
  color: var(--gold);
} */

.top {
  z-index: var(--top);
}

.wares-row {
  display: flex;
  align-items: center;
}

.finance-row {
  display: flex;
  justify-content: space-between;
}

/* colors */
/* from solarized */
.WHITE { color: #fdf6e3 }
.WHITESMOKE { color: whitesmoke } /* #f5f5f5 */
.OFFWHITE { color: #eee8d5 }
.GREEN { color: #859900 }
.GREY { color: #93a1a1 }
.DARKGREY { color: #586e75 }
.ORANGE { color: #cb4b16 }
.PURPLE { color: #6c71c4 }
.BLUE { color: #268bd2 }
.EMERALD { color: #2aa198 }
.TAN { color: #b58900 }

/* made up */
.BG { color: var(--bg-color) }
.BROWN { color: #893203 }
.GOLD { color: #d8df23 }

/* Not yet used made up colors */
.DARK_GREEN { color: #587558 }
