/* @font-face {
  font-family: "linux libertine";
  src: url(../assets/linuxlibertinemono.ttf) format("truetype");
} */

body {
  background-color: black;
  color: whitesmoke;
  font-family: "linux libertine";
  overflow-y: hidden;
  overflow-x: hidden;
}

pre {
  font-family: "linux libertine", monospace;
  font-size: 1.5vh;
  line-height: 1.5vh;
  margin: 0;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
}

.box {
  position: fixed;
}

.box > * {
  border: .5vh solid whitesmoke;
  padding: 1vh;
  margin: 0;
}

.box-title {
	cursor: move;
  text-align: center;
  border-bottom: .25vh solid whitesmoke;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.box-content {
  border-top: .25vh solid whitesmoke;
}

button {
  cursor: pointer;
  border: .25vh solid whitesmoke;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  color: whitesmoke;
}

button:hover {
  background-color: #555;
}
