@font-face {
  font-family: "custom font";
  src: url(./assets/linuxlibertinemono.ttf) format("truetype");
}

body {
  background-color: black;
  color: whitesmoke;
  font-family: "custom font";
  overflow-y: hidden;
  overflow-x: hidden;
}

pre {
  font-family: "custom font", monospace;
  font-size: medium;
  line-height: 1.5vh;
  margin: 0;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
}

.box {
  position: fixed;
  border: .5vh inset whitesmoke;
  /* border-color: whitesmoke; */
  padding: 1vh;
  margin: 0;
}

.box-title {
	cursor: move;
	height: 3vh;
  /* border-width: 1.5vh;
  border-bottom: .75vh; */
  border-color: whitesmoke;
  text-align: center;
}

.box-content {
  border-width: 1.5vh;
  border-bottom: .75vh;
  border-color: whitesmoke;
}
