/* @font-face {
  font-family: "linux libertine";
  src: url(../assets/linuxlibertinemono.ttf) format("truetype");
} */

:root {
  --bg-color: #000;
  --color: whitesmoke;
  font-size: 16px;

  --gold: #d8df23;
}

body {
  background-color: var(--bg-color);
  color: var(--color);
  /* font-family: "linux libertine"; */
  /* overflow-y: hidden;
  overflow-x: hidden; */
}

nav {
  display: flex;
  justify-content: space-between;
  height: 3em;
}

nav > div {
  display: flex;
}

nav button {
  padding: 0 2vh;
  border: .25em solid var(--color);
  height: 100%;
}

main {
  /* display: flex;
  justify-content: center;
  align-items: center; */
}

pre {
  /* font-family: "linux libertine", monospace; */
  line-height: 1em;
  margin: 0;
}

.box {
  position: fixed;
  min-width: 7.5em;
  border: .25em solid var(--color);
}

.box > * {
  padding: .5em;
  margin: 0;
  background-color: black;
}

.box-title {
	cursor: move;
  text-align: center;
  border-bottom: .125em solid var(--color);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.box-content {
  border-top: none;
  overflow-y: scroll;
}

button {
  cursor: pointer;
  border: .125em solid var(--color);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: var(--bg-color);
  color: var(--color);
}

button:hover {
  background-color: #555;
}

.min-box {}

.brown {
  color: brown;
}

.day {
  align-items: start;
}

.money {
  color: var(--gold);
}

#logs > .box-content {
  height: 25em;
  width: 20em;
}

#logs pre {
  white-space: pre-wrap;
}
